# Python
*.pyc
__pycache__/
.pytest_cache/
**/venv/
**/venv_py310/

# YOLOv5 folder
FlaskBackend/FlaskBackend/app/services/shot_analyzer/yoolo_v5/

# Environment and IDE
.idea/
.expo/

# Logs
*.log

# macOS
.DS_Store
**/.DS_Store

# P4 files
*.mp4

# Image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.webp

